.grid {
    width:300px;
    height:300px;
    border:solid black 1px;
    display: flex;
    flex-wrap: wrap;
}

.grid div {
    width:20px;
    height:20px;
}

.invader {
    background-color: purple;
    border-radius: 10px;
}

.shooter {
    background-color:green;
    border-radius: 10px;
}
.laser {
    background-color: orange;
    border-radius: 10px;
}
.boom {
    background-color: red;
    border-radius: 10px;
}

button {
    width:100px;
    height:30px;
    border-radius: 5px;
    background-color: white;
    color:black;
    font-size: 17px;
}